.navbar-default .navbar-brand{
	font-size: 30px;
	font-weight:bold;
	color:#45d3b3 ;
	line-height: 35px;
}
.navbar-default .navbar-nav >li>a{
	font-size: 16px;
	color: #666693;
	font-weight:bold;
	line-height: 35px;
}
.navbar-default .navbar-toggle:hover{
	background: #45d3b3;
}
.navbar-default .navbar-toggle .icon-bar:hover{
	color: #FFFFFF;
}
.navbar{
	margin-bottom: 0px;
}
#home{
	width: 100%;
	background-image:url(../img/images/home-bg.jpg) ;
	background-size:cover ;
	color: #FFFFFF;
	text-align: center;
}
.mengban{
	width: 100%;
	height: 100%;
	background: rgb(0,0,0,0.5);
	
}
#home h1{
	font-weight:bold;
	font-size: 30px;
	margin: 20px auto;
	
}
#home p{
	font-weight:bold;
	line-height: 30px;
}
#home img{
	margin-top: 30px;
	display: inline-block;
	margin-bottom: 85px;
}
#kf{
	width: 100%;
	background:#FFFFFF;
	text-align: center;
}
#kf .container{
	margin: 100px auto;

}
#qd{
	background:#d3d3d3 ;
}
 .container .col-md-6{
	margin: 76px 0px ;
}
#sp{
	background: #FFFFFF;
}
#kc{
	background:#d3d3d3;
}
#kc h2{
	padding-top: 100px;
	text-align: center;
}
#kc .container{
	padding: 100px 0px 97px 0px;
}
.kc1{
	width: 265px;
	height: 241px;
	margin: 0px 30px 20px 0px ;
	background: #FFFFFF;
}

.kc1 img{
	width: 265px;
	height: 151px;  
}
.kc1 a{
	display: inline-block;
	width: 138px;
	height: 37px;
	line-height: 37px;
	text-decoration: none;
	border: 1px solid #40d2b1;
	margin: 17px 60px ;
	color: #40d2b1;
	padding-left: 40px;
}
#app h2{
	margin-bottom:40px ;
}
#app p{
	margin-bottom:20px ;
}
#app span{
	width: 145px;
	padding: 10px 40px;
	background:#41d2b1 ;
	color: #FFFFFF;
	margin-bottom: 10px;
}
#app img{
	width: 557px;
	height: 301px;
}
#lx{
	background: url(../img/images/contact-bg.png);
	width: 100%;
	background-size:cover;
	color: #FFFFFF;
	
}
.meng{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.7) ;
}
#lx .s1 input{
	width: 249px;
	height: 50px;
	float: left;
	margin: 0px 21px 20px 0px;
}
#lx .s2 input{
	width: 525px;
	height: 53px;
	margin-bottom: 20px;
}
#lx .s3 input{
	width: 523px;
	height: 97px;
	margin-bottom: 20px;
}
#lx .s4 input{
	background:#3fd1b0 ;
	width: 34px;
	padding: 15px 152px;
	color: #FFFFFF;
}
#db{
	background:#272822 ;
	width: 100%;
	height: 70px;
}
#db p{
	padding-top: 20px;
	color: #FFFFFF;
	text-align: center;
	
}
